@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Open+Sans&display=swap');

:root {
  --color-bg: hsl(257, 40%, 49%);
  --color-secondary: hsl(300, 69%, 71%);
  --color-text: hsl(0, 0%, 100%);
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
  background-image: url('https://iwanharyatno.github.io/fm-huddle-intro-section/images/bg-mobile.svg');
  background-position: top 0 left 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
}

header {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  line-height: 1.4rem;
}

.nav-logo {
  width: 7rem;
}

.section-image {
  padding: 1.5rem;
}

.section-image img {
  width: 100%;
}

.section-content {
  padding: 1.5rem;
  text-align: center;
}

.section-description {
  margin-bottom: 2rem;
}

.btn-white {
  font-family: inherit;
  font-size: 1rem;
  display: inline-block;
  background-color: #fff;
  padding: 1rem 0;
  width: 15rem;
  border-radius: 2rem;
  color: var(--color-bg);
  text-decoration: none;
  font-size: small;
  box-shadow: 0 4px 8px -4px #000;
  transition: all 0.4s;
  text-align: center;
}

.btn-white:hover {
  background-color: var(--color-secondary);
  color: #fff;
}

.socials {
  display: flex;
  justify-content: center;
}

.icon-link {
  display: block;
  padding: 0.3rem;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 0.2rem;
  color: #fff;
  transition: all 0.4s;
}

.icon-link:hover {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

footer {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url('https://iwanharyatno.github.io/fm-huddle-intro-section/images/bg-desktop.svg');
    margin: 0 3rem;
  }

  header {
    margin: 2rem 0;
  }

  .nav-logo {
    width: 12rem;
  }

  .introductory-section {
    display: flex;
    justify-content: space-between;
  }

  .section-image {
    width: 60%;
  }

  .section-content {
    padding: 3rem 1.5rem;
    text-align: left;
    width: 40%;
  }

  .section-title {
    font-size: 2rem;
  }

  .btn-white {
    width: 12rem;
  }

  footer {
    justify-content: right;
  }
}
